/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.header {
  grid-column: span 12;
}
.navigation-menu {
  grid-column: span 4;
}
.main-content {
  grid-column: span 8;
}
.footer {
  grid-column: span 12;
}

* { 
    margin: 0; 
    padding: 0;
}

body {
    font-family: proxima, Arial, sans-serif;
    font-size: 16px;
    color: black; 
    overflow-wrap: break-word; 
}

.container { 
    max-width: 100%; 
    min-width: 320px;
}

.wrap {
    max-width: 1500px;
    min-width: 290px;
    padding: 0 15px;
    margin: 0 auto;
}
*/