* { /*for all elements*/
    margin: 0; /*граница между блоками*/
    padding: 0;
}

body {
    font-family: proxima, Arial, sans-serif;
    font-size: 16px;
    color: black; 
    overflow-wrap: break-word; /* перенос слов на новую строку */
}

.container { /*класс контейнер или родительский класс*/
    max-width: 100%; /*максимальная ширина*/
    min-width: 320px;
}

.wrap {
    max-width: 1500px;
    min-width: 290px;
    padding: 0 15px;
    margin: 0 auto;
}